* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.bg-pelayanan {
    background: #ff6704;
}

.animateWidth {
    -webkit-animation: animateWidth 0.8s linear forwards;
    animation: animateWidth 0.8s linear forwards;
}

@-webkit-keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}
@keyframes animateWidth {
    0% {
        width: 35%;
    }
    20% {
        width: 50%;
    }
    100% {
        width: 35%;
    }
}
.form__container {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    padding: 25px;
    text-align: center;
    background: #fff;
    transition: all 0.6s ease-in;
}
.go-login .form__container-login {
    left: 35%;
    opacity: 0;
}
.go-register .form__container-login {
    left: 0;
    opacity: 1;
    z-index: 0;
}
.go-login .form__container-register {
    left: 35%;
    opacity: 1;
    z-index: 0;
}
.go-register .form__container-register {
    left: 0;
    opacity: 0;
}

.form {
    width: 100%;
}
.form__heading {
    font-size: 40px;
    /*margin-bottom: 15px;*/
}
.form__field {
    width: 100%;
    line-height: 35px;
    padding-left: 15px;
    margin-bottom: 15px;
    background: #f4f8f7;
    border: none;
    text-align: center;
}
.form__field:last-child {
    margin-bottom: 0;
}
.form__field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: capitalize;
}
.form__field::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: capitalize;
}
.form__field:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: capitalize;
}
.form__field:-moz-placeholder {
    /* Firefox 18- */
    text-transform: capitalize;
}
.form__field:focus, .form__field:active {
    outline: 0;
}
.form__text {
    margin-bottom: 15px;
    font-size: 14px;
}

.list {
    padding-left: 0;
}
.list__inline {
    margin-bottom: 15px;
}
.list__inline .list__item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.list__inline .list__link {
    color: #333;
    text-decoration: none;
}
.list__inline .list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.overlay-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    text-align: center;
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    transition: all 0.8s cubic-bezier(0.67, 0.67, 0.34, 0.95);
}
.go-login .overlay-container {
    right: 65%;
}
.go-register .overlay-container {
    right: 0;
}

.overlay {
    padding: 25px;
    color: #fff;
    position: absolute;
    width: 100%;
}
.overlay__heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.overlay__desc {
    max-width: 320px;
    width: 320px;
    text-align: justify;
    margin: auto;
    letter-spacing: 0.5px;
    word-spacing: -1px;
}
.overlay--left {
    opacity: 0;
    z-index: 99;
}
.go-login .overlay--left {
    z-index: 99;
    opacity: 1;
}
.go-register .overlay--left {
    opacity: 0;
    z-index: -1;
}
.overlay--right {
    opacity: 0;
    z-index: 99;
}
.go-login .overlay--right {
    opacity: 0;
    z-index: -1;
}
.go-register .overlay--right {
    z-index: 99;
    opacity: 1;
}

.btn {
    padding: 8px 30px;
    border: none;
    /*border-radius: 30px;*/
    font-size: 16px;
}
.btn--main {
    background: linear-gradient(45deg, rgba(252,110,152,1) 0%, rgba(255,103,0,1) 68%, rgba(255,103,0,1) 100%);
    color: #fff;
}
.btn--main:hover {
    color: #fff;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ff6704;
}
.btn--main-outline {
    border: 2px solid #fbfffd;
    color: #fbfffd;
    width: 75%;
}
.btn--main-outline:hover {
    border: 2px solid #ff6704;
    font-weight: bold;
    background: #f7f7f7;
    color: #ff6704;
}
.btn--main_luas {
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}
.btn:hover {
    cursor: pointer;
}
.btn:focus, .btn:active {
    outline: 0;
}
.dividers {
    font-size: 34px;
    font-weight: 300;
}

/*FORM WIZARD*/
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    width: 100%;
}

#msform fieldset {
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff6704;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/

#msform .action-button-previous {
    width: 100px;
    color: #333;
    border: 0 none;
    /*border-radius: 25px;*/
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 9px;
    width: 14%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #fff;
    background: #212529;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ff6704;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ff6704;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/*SEARCH FIELD*/
.dropdown-search {
    /*position: absolute;*/
    /*top: 100%;*/
    /* left: 0; */
    /*z-index: 1061;*/
    display: none;
    float: left;
    /*min-width: 16rem;*/
    /*max-width: 30rem;*/
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 20px;
    /*margin: .125rem 0 0;*/
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-search > a > .dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-content {
    top: 40px;
    right: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.shows {
    display: block !important;
}

.npwp-detail {
    padding: 16px 16px 0 16px;
}
.npwp-detail_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.7rem;
}
.npwp-detail_item_label {
    color: rgba(0,0,0,.4);
    font-size: .875rem;
    width: 6.25rem;
}
.npwp-detail_item_div {
    height: .9375rem;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.npwp-detail_item_div_1 {
    font-size: .875rem;
    font-weight: 600;
}

/*UPLOAD*/
.custom-file-input {
    cursor: pointer;
}